<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Test</title>
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <!-- 
        ## 收集表单数据
        默认v-model收集value值(用户输入的值)
        类型为text,正常收集
        类型为radio,v-model要绑定name,指定value值
        类型为checkbox,则收集checked值,所以一般要用v-model指定value值
            没有配置初始value值,则收集checked值
            配置value值
                初始值是非数组,收集的还是checked值
                初始值是数组,收集的是value组成的数组
        类型为select,则收集value值(用户选择的值)
        类型为textarea,则收集value值(用户输入的值)
        类型为file,则收集files值(用户选择的文件)
        类型为button,则收集value值(用户点击的值)
        类型为submit,则收集value值(用户点击的值)

        ## html
        name值:ajax请求的参数名
        小技巧:
            可以把数据放一个对象里,方便收集数据(如 userInfo.account)

        -->
        <div id="app" >
        <h1>{{name}}</h1>

        <label for="account">Account</label>
        <input type="text" name="" id="account" v-model="account" />
        {{ account }}
        <br />
        <br />

        <label for="password">Password</label>
        <input type="password" name="" id="password" v-model="password" />
        <br />
        <br />

        Sex 男
        <input type="radio" name="sex" v-model="sex" />
        女
        <input type="radio" name="sex" v-model="sex" />
        <br />
        <br />

        兴趣: A
        <input type="checkbox" name="" id="" v-model="hobby" value="A" />
        B
        <input type="checkbox" name="" id="" v-model="hobby" value="b" />
        C
        <input type="checkbox" name="" id="" v-model="hobby" value="c" />

        <br />
        <br />

        年龄
        <input type="number" name="age" id="age" v-model.number="age" />
        <br />
        <br />
        ID
        <select v-model="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

        <br />
        <br />

        Others:
        <textarea name="" id="" cols="30" rows="10" v-model="others"></textarea>
        <br />
        <br />

        <!-- <button @click="login">Submit</button> -->
        </div>
        <script>
            const app = Vue.createApp({
                data() {
                    return {
                        name: "vue",
                        account: "",
                        password: "",
                        sex: "",
                        age: "",
                        level: "",
                        hobby: [],
                        others: "",
                    };
                },
            }).mount("#app");
        </script>
    </body>
</html>
